<div class="container">
    <section class="datenschutz">
      <h1>Datenschutzerklärung</h1>
      <p>Die Firma Saarlift nimmt den Schutz Ihrer persönlichen Daten sehr ernst. Diese Datenschutzerklärung informiert Sie darüber, wie wir Ihre personenbezogenen Daten gemäß der Datenschutz-Grundverordnung (DSGVO) erheben, verarbeiten und schützen.</p>

      <h2>1. Erhebung und Verwendung von personenbezogenen Daten</h2>
      <p>Wir erheben und verwenden Ihre personenbezogenen Daten nur, wenn Sie uns diese freiwillig zur Verfügung stellen. Dies tun sie indem sie beim Registrieren den Registrierungsknopf drücken. Die von uns erhobenen Daten umfassen in der Regel Ihren Namen, Ihre E-Mail-Adresse und zum Schutz der Daten noch ein von Ihnen erschaffenes Passwort. Diese Daten werden ausschließlich dazu verwendet, um Ihnen die gewünschten Dienstleistungen bereitzustellen, insbesondere um Online-Bestellungen entgegenzunehmen und zu bearbeiten.</p>

      <h2>2. Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</h2>
      <p>Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf der Grundlage Ihrer Einwilligung gemäß Artikel 6 Absatz 1 Buchstabe a DSGVO oder zur Erfüllung eines Vertrages gemäß Artikel 6 Absatz 1 Buchstabe b DSGVO.</p>

      <h2>3. Dauer der Speicherung</h2>
      <p>Ihre personenbezogenen Daten werden nur so lange gespeichert, wie dies für die Erbringung unserer Dienstleistungen erforderlich ist oder wie es gesetzliche Aufbewahrungsfristen vorsehen.</p>

      <h2>4. Google Analytics</h2>
      <p>
        Diese Website verwendet Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die die Analyse der Nutzung der Website durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Nutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
        
        Die IP-Adresse, die von Ihrem Browser im Rahmen von Google Analytics übermittelt wird, wird nicht mit anderen Daten von Google zusammengeführt. Die Erfassung Ihrer Daten durch Google Analytics können Sie verhindern, indem Sie das unter folgendem Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.
        
        Weitere Informationen zu den Nutzungsbedingungen und zum Datenschutz finden Sie unter den folgenden Links: Nutzungsbedingungen von Google Analytics (http://www.google.com/analytics/terms/de.html) und Datenschutzerklärung von Google (https://www.google.de/intl/de/policies/).</p>

      <!-- <h2>5. Beschwerderecht bei der Datenschutzbehörde</h2>
      <p>Sie haben das Recht, eine Beschwerde bei einer Datenschutzbehörde einzureichen, insbesondere in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten gegen die DSGVO verstößt.</p>
 -->
 <h2>5. Ihre Rechte</h2>
 <p>Sie haben gemäß der DSGVO verschiedene Rechte in Bezug auf Ihre personenbezogenen Daten. Dazu gehören das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit sowie das Widerspruchsrecht. Wenn Sie von Ihren Rechten Gebrauch machen möchten, wenden Sie sich bitte an uns unter den unten angegebenen Kontaktdaten.</p>
 <p>Darüber hinaus können Sie die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Google Analytics Opt-out-Browser-Add-on</a>.</p>
 
      <h2>6. Kontakt</h2>
      <p>Wenn Sie Fragen zum Datenschutz oder zur Verarbeitung Ihrer personenbezogenen Daten haben, können Sie sich gerne an uns wenden:</p>
      <ul>
        <li>E-Mail: metodi&#64;gmx.net</li>
        <li>Telefon: +49 1781852771</li>
        <li>Adresse: Kohlwaldstraße 9, 66578 Schiffweiler</li>
      </ul>
<div class="green">
      <p first-child>Wir behalten uns vor, diese Datenschutzerklärung gelegentlich zu aktualisieren. Bitte überprüfen Sie diese Seite regelmäßig, um über Änderungen informiert zu bleiben.</p>
    </div>
    </section>
  </div>