<div class="website-content">
 <router-outlet></router-outlet>
  </div>
  
  <header>
    <div class="info">
      <p></p>
    </div>
    <div class="logo">
        <img src="/assets/images/hub.png" alt="">
    </div>
    <div class="toggle-btn">
    
        <button class="burger" [class.active]="isOpen" (click)="toggleMenu()"></button>
  
  
    </div>
  </header>

  <div class="overlay" [ngClass]="{ 'active': isOpen }">
    <div class="overlay-menu">
      <div class="menu-item" *ngFor="let menuItem of menuItems">
        <p [class.active]="menuItem.active"><a [routerLink]="menuItem.route">{{ menuItem.name }}</a></p>
      </div>
    </div>
  
    <div class="sub-nav">
      <p><a href="https://www.kleinanzeigen.de/s-anzeige/hubsteiger-arbeitsbuehne-hebebuehne-baumpflege-baum-/2535400123-276-305">Kleinanzeigen</a></p>
    
    </div>
  </div>
  